/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
* {
  box-sizing: border-box;
}

body {
  background: #50BADD;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url('/robot.gif');  
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  font-size: 1.2em;
  color: white;
  background: #ff007f;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 15px 10px rgba(0,0,0, 0.3);
}

button:hover {
  filter: brightness(85%);
}

button:active {
  transform: scale(.95);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

/* media query tablet or smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0,0,0, 0.5);
  }
  
}

